/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@font-face {
    font-family: 'Gotham Black';
    src: url('/font/Spotify-Font/Gotham-Black.otf') format('woff2');
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gotham Black', sans-serif;
    background: url('/images/endless-constellation.svg') no-repeat center;
    background-size: cover;
    background-position: fixed;
}

body {
}
.wrapper {
    width: 100%;
    max-width: 1500px;
    position: relative;
    margin: 0 auto;
}
 .music-con {
    padding: 150px 0 0;
  } 
.flip_boxes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.flip-box {
    width: 400px;
    max-width: 100%;
      height: 400px;
      perspective: 1000px;
      position: relative;
      /* background: #c5c2c2; */
      padding: 5px;
      border-radius: 20px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }


    
    .flip-box-inner {
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transition: transform 0.5s;
       
    }
    
    .flip-box:hover .flip-box-inner {
        transform: rotateY(180deg);
    }
    
    .flip-box-front,
    .flip-box-back {
        width: 100%;
        height: 100%;
        position: absolute;
        backface-visibility: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        border-radius: 20px;
    }
    
    .flip-box-front {
        background-color: #f1f1f1;
    }

    .flip-box-front img {
        width: 100%;
        max-width: 450px;
        border-radius: 20px;
      }
    
    .flip-box-back {
        color: #fff;
        transform: rotateY(180deg); /* Initial rotation to hide the back content */
    }

    .flip-box-back img {
        width: 100%;
        height: 100%;
        border-radius: 20px;
    }
    
    .go-button {
        background: transparent;
        color: #fff;
        border: none;
        padding: 15px;
        cursor: pointer;
        transition: background-color 0.3s ease;
        display: block;
        width: 200px;
        border: 1px solid #fff;
        border-radius: 20px;
        font-size: 22px;
        position: absolute;
        text-align: center;
        text-decoration: none;
    }
    
    .go-button:hover {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    }
    .flip-box-back:hover .go-button {
        background-color:  transparent;
        
    }
    
    .music-con h1 { font-size: 60px; color: rgb(27, 214, 97); margin-bottom: 50px;}


/* for loader */
.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid rgb(27, 214, 97);
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    background: 0 0;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 

  #loading-screen {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #330033;
    text-align: center;
    padding-top: 20%;
    z-index: 1000;
  }

  /* Additional styles to center the loader */
  /* #loading-screen .loader {
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  } */